<launch>
    <node name="sample_birdhouse_goals" pkg="moveit_tests" type="sample_birdhouse_goals">
        <param name="precached_goals" value="true"/>

        <!-- Plan to and from all start/goal pairs in the goals file -->
        <param name="goals_filename" value="$(find moveit_tests)/data/goals_3lev.csv"/>
    </node>
</launch>
